
/* Configuración del logo */
.logo {
    width: 20vh;
     
}


.navar-inside{
    padding: 2vh;
    background:linear-gradient(to bottom, #00000077, #0000001c);;
}
    /* .navar-inside{
        background-color: #024959 ;
    } */

