.InTouch{
    color: #024959;
}

.InTouch a{
    color: #EF8C32;
}



.inputs input, textarea{
    border: 1px transparent;
    padding: 4%;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 6pt 0.6pt #D3D3D3;
    
}

.inputs input[type=text]:hover, textarea[type=text]:hover{
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}
.inputs input[type=text]:focus, textarea[type=text]:focus {
    box-shadow: 0 0 5pt 0.8pt #ffa500;
    outline-width: 0px;
}



.inputs .message {
    height: 150px;
}

.inputs .submitButton{
    border-radius: 20px;
    padding: 12px 30px;
    border-color: transparent;
    background-color: #EC1C24;
    color:white;
    font-size: 1.95vh;
}