.cardBox{
    background-color: #F5F5F5 !important;
    border-radius: 1.8vh !important;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.75);}   

.pText{
    white-space: pre-wrap;
    font-size: 1.9vh;
    margin: 0 auto; /* Puedes usar "ellipsis" u otro carácter de tu elección */
}

.cvButton{
    border-radius: 1.5vh;
    padding: 1vh 2vh;   
    border-color: transparent;
    background-color: #EC1C24;
    color:#F5F5F5;
    font-size: 1.95vh;
};